# --- DATA (IMPORTANT : les datasets sont trop lourds pour GitHub)
data/
data_local/
*.csv
*.json

# Environnements virtuels
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Checkpoints
../checkpoints/
checkpoints/
*.tar.gz

# Mongo / Redis dumps
dump/
*.rdb

# Logs
*.log

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data sensitive or large
*.zip
